---
---

$color-black:#000;
$color-accent:#0055FF;

@mixin transition($transition...) {
  -webkit-transition:$transition;
     -moz-transition:$transition;
      -ms-transition:$transition;
          transition:$transition;
}

body {
	width:100%;
	background-color:#fff;
	margin:0;
	}

/* 	------------------------------------
	CONTAINER SETTINGS
   	------------------------------------ */

.container {
	background:gray;
	width:1218px;
	margin:0 auto;
	padding:0;
	}

.container.fluid {
	background:blue;
	width:100%;
	margin:0;
	padding:0;
	}

@media (min-width:320px) { 
	/* smartphones, iPhone, portrait 480x320 phones */
	}

@media (min-width:481px) { 
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	}

@media (min-width:641px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	}

@media (min-width:961px) { 
	/* tablet, landscape iPad, lo-res laptops ands desktops */ 
	}

@media (min-width:1025px) { 
	/* big landscape tablets, laptops, and desktops */ 
	}

@media (min-width:1281px) { 
	/* hi-res laptops and desktops */ 

	.container,
	.container.fluid {
		background:gray;
		width:1218px;
		margin:0 auto;
		padding:0;
		}
}

/*@media screen and (min-width: 768px) {
	.container {
		width:96%;
		margin:0 2%;
		padding:0;
		}
	}

@media screen and (min-width: 992px) {
	.container {
		width:96%;
		margin:0 2%;
		padding:0;
		}
	}

@media screen and (min-width: 1218px) {
	
	}*/

/*@media (min-width: 1200px) {
	.container {
    	width: 1170px;
  		}
	}

@media (min-width: 992px) {
	.container {
    	width: 970px;
  		}
	}

@media (min-width: 768px) {
	.container {
    	width: 750px;
  		}
	}*/
