---
---

$color-black:#000;
$color-accent:#0055FF;

@mixin transition($transition...) {
  -webkit-transition:$transition;
     -moz-transition:$transition;
      -ms-transition:$transition;
          transition:$transition;
}

html,
body {
	width:100%;
	background-color:#fff;
	font-size:20px;
	font-family:sans-serif;
	font-weight:normal;
	line-height:1.5em;
	letter-spacing:1px;
	margin:0;
	cursor:crosshair !important;
	}

a {
	color:black;
	text-decoration:none;
	border-bottom:2px solid $color-black;
	cursor:cell !important;
	}

p {
	font-size:1em;
	font-weight:normal;
	}

/* 	------------------------------------
	GENERAL
   	------------------------------------ */

.container {
	background:#fff;
	width:1218px;
	margin:0 auto;
	padding:0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}

.container.fluid {
	width:100%;
	margin:0 auto;
	padding:0 1.6rem;
	clear:both;
	}

.container#main {
	padding-top:6.7rem;
	}

/* 	------------------------------------
	NAVIGATION
   	------------------------------------ */

#nav {
	position:absolute;
	width:100%;
	background:#fff;
	padding:2.6rem 0;
	z-index:1000;
	/*@include transition(padding 120ms ease, color 120ms ease);*/
	}
#nav.fixed {
	position:fixed;
	display:block;
	padding:1.2rem 0;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.02);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.02);
    box-shadow:0 1px 3px rgba(0,0,0,0.02);
	}
#nav .container {
	}
#nav .nav.home {
	float:left;
	}
#nav .nav.abt {
	float:right;
	margin-right:1.5rem;
	}
#nav .nav.proj {
	float:right;
	}

/* 	------------------------------------
	PROJECT PAGE
   	------------------------------------ */

#proj-list {
	}

#proj-list a.list-img-link {
	float:left;
	text-decoration:none;
	border:none;
	}
#proj-list a.list-img-link .list-img {
	float:left;
	width:300px;
	height:300px;
	padding:0 3rem 0 0;
	}
#proj-list a.list-img-link.left .list-img,
#proj-list a.list-img-link.center .list-img {
	}
#proj-list a.list-img-link.right .list-img {
	}

#proj-list a.list-img-link .metadata {
	position:absolute;
	background:rgba(255,255,255,0.95);
	width:300px;
	height:236px;
	}
#proj-list a.list-img-link .metadata p {
	margin-top:-6px;
	@include transition(margin-top 120ms ease);
	}
#proj-list a.list-img-link:hover .metadata p {
	margin-top:18px;
	}

/* 	------------------------------------
	POST
   	------------------------------------ */

#proj #media {
	clear:both;
	}
#proj #media .media {
	display:block;
	float:left;
	width:100%;
	height:auto;
	margin:0;
	padding:0 0 2rem 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}
#proj #media .media.center {
	clear:both;
	}
#proj #media .media.half {
	display:block;
	width:50%;
	height:auto;
	}
#proj #media .media.half.left {
	padding-right:1.5rem;
	}
#proj #media .media.half.right {
	padding-left:1.5rem;
	}
#proj #media .media img {
	display:block;
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	}
#proj #media .media .caption {
	margin-top:1.2em;
	}

#proj #descrip {
	display:block;
	clear:both;
	}
#proj #descrip p:first-child {
	font-size:0;
	line-height:0;
	}

/* 	------------------------------------
	FOOT
   	------------------------------------ */

#base {
	float:left;
	width:100%;
	background:#fff;
	margin-top:2.6rem;
	padding:2.6rem 0;
	border-top:1px solid rgba(0,0,0,0.02);
	clear:both;
	}
#base #footer {
	}

/* 	------------------------------------
	FLUIDITY
   	------------------------------------ */

@media (min-width:320px) { 
	/* smartphones, iPhone, portrait 480x320 phones */

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 1.5rem 0;
		}
	}

@media (min-width:481px) { 
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 1.5rem 0;
		}
	}

@media (min-width:641px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 1.5rem 0;
		}
	}

@media (min-width:961px) { 
	/* tablet, landscape iPad, lo-res laptops ands desktops */ 

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 2rem 0;
		}
	.container #proj #media .media.half,
	.container.fluid #proj #media .media.half {
		width:50%;
		}
	.container #proj #media .media.half.left,
	.container.fluid #proj #media .media.half.left {
		padding-right:0.75rem;
		}
	.container #proj #media .media.half.right,
	.container.fluid #proj #media .media.half.right {
		padding-left:0.75rem;
		}
	}

@media (min-width:1025px) { 
	/* big landscape tablets, laptops, and desktops */ 

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 2rem 0;
		}
	.container #proj #media .media.half,
	.container.fluid #proj #media .media.half {
		width:50%;
		}
	.container #proj #media .media.half.left,
	.container.fluid #proj #media .media.half.left {
		padding-right:0.75rem;
		}
	.container #proj #media .media.half.right,
	.container.fluid #proj #media .media.half.right {
		padding-left:0.75rem;
		}
	}

@media (min-width:1281px) { 
	/* hi-res laptops and desktops */

	.container,
	.container.fluid {
		background:#fff;
		width:1218px;
		margin:0 auto;
		padding:0;
		}

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 2rem 0;
		}
	.container #proj #media .media.half,
	.container.fluid #proj #media .media.half {
		width:50%;
		}
	.container #proj #media .media.half.left,
	.container.fluid #proj #media .media.half.left {
		padding-right:1.5rem;
		}
	.container #proj #media .media.half.right,
	.container.fluid #proj #media .media.half.right {
		padding-left:1.5rem;
		}
}