---
sitemap:
  exclude: 'yes'
---

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200|Arvo:400,700|Nova+Mono:400');

$color_black:#000;
$color_accent:#0055FF;
$color_red:#FF3D00;

$ttime:120ms;

@mixin transition($transition...) {
  -webkit-transition:$transition;
     -moz-transition:$transition;
      -ms-transition:$transition;
          transition:$transition;
}
@mixin box-sizing($box-sizing...) {
  -webkit-box-sizing:$box-sizing;
     -moz-box-sizing:$box-sizing;
      -ms-box-sizing:$box-sizing;
          box-sizing:$box-sizing;
}
@mixin box-shadow($box-shadow...) {
  -webkit-box-shadow:$box-shadow;
     -moz-box-shadow:$box-shadow;
      -ms-box-shadow:$box-shadow;
          box-shadow:$box-shadow;
}
@mixin transform($transform...) {
  	-webkit-transform:$transform;
				-ms-transform:$transform;
						transform:$transform;
}

html,
body {
	width:100%;
	height:100%;
	background-color:#fff;
	color:$color_black;
	font-size:20px;
	font-family:sans-serif;
	font-weight:normal;
	line-height:1.6em;
	letter-spacing:1px;
	margin:0;
	cursor:crosshair !important;
	-webkit-text-size-adjust:100%;
	}

a {
	color:$color_black;
	text-decoration:none;
	padding-bottom:0.05rem;
	border-bottom:2px solid $color_black;
	outline:0;
	cursor:cell !important;
	}
a:hover {
	color:$color_black;
	border-bottom-color:$color_black;
	}

p {
	font-size:1em;
	font-weight:normal;
	}

span.i {
	font-style:italic;
	}
span.sub {
	font-size:0.75rem;
	}

/* 	------------------------------------
		GENERAL
   	------------------------------------ */

$log_padding_default:0.8rem;

.container {
	background:#fff;
	width:1218px;
	margin:0 auto;
	@include box-sizing(border-box);
	}

.container.fluid {
	width:100%;
	margin:0 auto;
	padding:0 calc(#{$log_padding_default} * 2);
	clear:both;
	}

.container#main {
	opacity:0;
	min-height:calc(100vh - 9.3rem - 1px);
	padding-top:9rem;
	overflow:hidden;
	@include transition(opacity 240ms ease);
	}
.container.show#main {
	opacity:1;
}

/* 	------------------------------------
		NAVIGATION
   	------------------------------------ */

#nav {
	position:absolute;
	width:100%;
	background:#fff;
	font-size:1rem;
	padding:2.5rem 0;
	z-index:1000;
	}
#nav.fixed {
	position:fixed;
	display:block;
	padding:1.2rem 0;
	@include box-shadow(0 1px 3px rgba(0,0,0,0.02));
	}
#nav .container {
	}
#nav .container .nav {
	width:auto;
	}
#nav .container .nav.home,
#nav .container.fluid .nav.home {
	float:left;
	margin-left:1rem;
	}
#nav .container .nav.abt {
	float:right;
	margin-right:1.5rem;
	}
#nav .container .nav.proj,
#nav .container.fluid .nav.proj {
	float:right;
	margin-right:1rem;
	}

#nav .container a.btn:hover {
	color:$color_black;
	}
#nav .container a.btn:hover .nav {
	border-bottom:none;
	/*border-bottom:2px solid $color_black;*/
	}

/* 	------------------------------------
		HOME
   	------------------------------------ */

#nav.home {
	position:absolute;
	background:transparent;
	}

#main.home {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	}

#main.home #vis,
#main.home #vis svg {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	}

#main.home #vis svg .origin {
	opacity:0;
	fill:transparent;
  stroke-width:1;
  stroke:$color_accent;
  pointer-events:none;
	}
#main.home #vis svg .origin rect {
	stroke:none;
	}

#main.home #vis svg .vertex path {
  stroke:$color_black;
  stroke-width:2;
  pointer-events:none;
	}
#main.home #vis svg .vertex.selected path {
  stroke:$color_accent;
	}

#main.home #vis svg .vertex rect {
	fill:transparent;
	}

#main.home #vis svg .vertex polygon {
	fill:$color_black;
	pointer-events:none;
	}
#main.home #vis svg .vertex.selected polygon {
	fill:$color_accent;
	}

#main.home #vis svg .vertex .markup {
	opacity:0;
  fill:none;
  stroke:$color_black;
  stroke-width:1;
  pointer-events:none;
	}
#main.home #vis svg .vertex.selected .markup {
	opacity:1;
	stroke:$color_accent;
	}

#main.home .vis.legend {
	opacity:0;
	position:fixed;
	width:12rem;
	font-size:0.65rem;
	text-align:right;
	text-transform:uppercase;
	line-height:1rem;
	bottom:4.5rem;
	right:1.5rem;
	}
#main.home .vis.legend .legend-descrip {
	position:absolute;
  width:12rem;
  right:0;
  bottom:3rem;
	}
#main.home .vis.legend .legend-title {
	position:absolute;
  color:$color_accent;
  font-style:italic;
  right:0;
  bottom:0;
	}
#main.home .vis.legend .unitbar {
	position:absolute;
  right:0;
  border-top:1px solid $color_accent;
	}
#main.home .vis.legend .unitbar_end {
	display:none;
	background:$color_accent;
	position:absolute;
	border:none;
}

#base.home {
	display:none;
	}

/* 	------------------------------------
		PROJECT LIST PAGE
   	------------------------------------ */

.container #proj-list,
.container.fluid #proj-list {
	background:#fff;
	width:100%;
	overflow:auto;
	padding:0 1rem;
	@include box-sizing(border-box);
	}

#proj-list a:hover {
	color:$color_black;
	}
#proj-list a.list-img-link {
	position:relative;
	display:inline-block;
	float:left;
	width:25%;
	height:auto;
	text-decoration:none;
	margin:0 0 3rem 0;
	padding:0 1rem 1rem;
	border:none;
	@include box-sizing(border-box);
	}
#proj-list a.list-img-link._01,
#proj-list a.list-img-link._02,
#proj-list a.list-img-link._03,
#proj-list a.list-img-link._04,
#proj-list a.list-img-link.col_odd_01,
#proj-list a.list-img-link.col_odd_02,
#proj-list a.list-img-link.col_odd_03 {
	margin:0 0 3rem 0;
	padding:0 1rem 1rem;
	}

#proj-list a.list-img-link .list-img {
	display:block;
	float:left;
	width:100%;
	height:100%;
	}

#proj-list a.list-img-link .metadata {
	position:absolute;
	background:#fff;
	width:100%;
	padding:81.66% 0 0;
	padding-top:calc(100% - 2.5rem);
	}
#proj-list a.list-img-link .metadata p {
	position:absolute;
	@include transition(top $ttime ease, bottom $ttime ease);
	}
#proj-list a.list-img-link .metadata p.list-title {
	font-size:0.65rem;
	text-transform:uppercase;
	line-height:1rem;
	top:-0.75rem;
	}
#proj-list a.list-img-link .metadata p.list-date {
	font-size:1rem;
	bottom:0.75rem;
	}
#proj-list a.list-img-link:hover .metadata p.list-title,
#proj-list a.list-img-link.hover .metadata p.list-title {
	top:-0.25rem;
	}
#proj-list a.list-img-link:hover .metadata p.list-date,
#proj-list a.list-img-link.hover .metadata p.list-date {
	bottom:0.25rem;
	}

/* 	------------------------------------
		POST
   	------------------------------------ */

.container #proj,
.container.fluid #proj {
	margin-top:0;
	padding:0 1rem;
	}

#proj #info {
	padding:0 0 4rem 0;
	}
#proj #info .title {
	float:left;
	padding-bottom:1.5rem;
	}

#proj #media {
	clear:both;
	}
#proj #media .media {
	display:block;
	float:left;
	width:100%;
	height:auto;
	margin:0;
	padding:0 0 2rem 0;
	@include box-sizing(border-box);
	}
#proj #media .media.center {
	clear:both;
	}
#proj #media .media.half {
	display:block;
	width:50%;
	height:auto;
	}
#proj #media .media.half.left {
	padding-right:1.5rem;
	}
#proj #media .media.half.right {
	padding-left:1.5rem;
	}
#proj #media .media a {
	border:none;
	}
#proj #media .media img,
#proj #media .media video {
	position:relative;
	display:block;
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	outline:0;
	@include box-sizing(border-box);
	}
#proj #media .media video {
	border:none;
	}
#proj #media .media.border img,
#proj #media .media.border video {
	border:1px solid rgba(0,0,0,0.02);
	}
#proj #media .media .video-container {
	position:relative;
	cursor:cell;
	}
#proj #media .media .video-container .video-cover {
	opacity:0.4;
	position:absolute;
	width:100%;
	height:100%;
	background:url(/media/assets/icon_video_play.svg) no-repeat 50% 50%;
	background-size:30%;
	z-index:999;
	pointer-events:none;
	@include transition(opacity 240ms ease);
	}
#proj #media .media .video-container:hover .video-cover {
	opacity:1;
	}
#proj #media .media .video-container.active .video-cover {
	opacity:0;
	}

#proj #media .media .caption {
	margin-top:1.2em;
	}
#proj #media .media .caption a {
	border-bottom:2px solid $color_black;
	}

#proj #descrip {
	display:block;
	clear:both;
	}
#proj #descrip p:first-child {
	font-size:0;
	line-height:0;
	}

#proj #post-nav {
	display:block;
	width:100%;
	padding-top:1.2em;
	clear:both;
	}
#proj #post-nav .arrow#previous {
	float:left;
	}
#proj #post-nav .arrow#next {
	float:right;
	}
#proj #post-nav .arrow a {
	text-decoration:none;
	border:none;
	}
#proj #post-nav .arrow a:hover {
	color:$color_black;
	}

#proj .sub {
	display:block;
	float:left;
	width:100%;
	color:$color_black;
	font-size:0.5rem;
	text-transform:uppercase;
	line-height:0.75rem;
	vertical-align:baseline;
	padding:1.2rem 0 0.6rem;
	clear:both;
	}
#proj .sub .sub-section {
	display:block;
	float:left;
	width:100%;
	padding:0.325rem 0 0 0;
	}
#proj .sub .info,
#proj .sub .link {
	@include box-sizing(border-box);
	}
#proj .sub .holder {
	padding-top:0.05rem;
	}
#proj .sub .link a {
	display:block;
	float:left;
	color:$color_accent;
	padding-bottom:0;
	border-bottom:none;
	}
#proj .sub .link a:hover {
	color:$color_accent;
	text-decoration:none;
	border-bottom:none;
	}

#proj .sub span {
	float:left;
	@include box-sizing(border-box);
	}

#proj .sub #post-tags {
	}
#proj .sub #post-tags .tag {
	display:inline-block;
	float:left;
	background:white;
	text-align:center;
	line-height:1;
	white-space:nowrap;
	margin:-0.125rem 0.25rem 0.4rem 0;
	padding:0.25rem;
	border:1px dotted #ddd;
	@include box-sizing(border-box);
	}
#proj .sub #post-tags .tag::before,
#proj .sub #post-tags .tag::after {
	@include box-sizing(border-box);
	}

#proj .sub .label {
	float:left;
	width:0.75rem;
	height:0.75rem;
	margin-top:0;
	padding-right:0.5rem;
	}
#proj .sub #post-cred .label {
	background:url(/media/assets/icon_black_cred.svg) no-repeat 0 0;
	}
#proj .sub #post-cred-tweets .label {
	background:url(/media/assets/icon_black_cred_tweets.svg) no-repeat 0 0;
	}
#proj .sub #post-exhibits .label {
	background:url(/media/assets/icon_black_cred.svg) no-repeat 0 0;
	}
#proj .sub #post-permalink .label {
	background:url(/media/assets/icon_black_link.svg) no-repeat 0 0;
	}
#proj .sub #post-github .label {
	background:url(/media/assets/icon_black_github.svg) no-repeat 0 0;
	}
#proj .sub #post-paper .label {
	background:url(/media/assets/icon_black_paper.svg) no-repeat 0 0;
	}
#proj .sub #post-team .label {
	background:url(/media/assets/icon_black_team.svg) no-repeat 0 0;
	}
#proj .sub #post-tags .label {
	background:url(/media/assets/icon_black_tag.svg) no-repeat 0 0;
	}

/* 	------------------------------------
		ABOUT PAGE
   	------------------------------------ */

#contain {
	margin-top:0;
	padding:0 1rem;
	}

#contain #content_top {
	padding:0 0 1.5rem 0;
	}

#contain #content_mid {
	}
#contain #content_mid .section {
	}
#contain #content_mid .section.half {
	display:block;
	float:left;
	width:50%;
	height:auto;
	margin:0;
	padding:0;
	@include box-sizing(border-box);
	}
#contain #content_mid .section.half.left {
	padding-right:1.5rem;
	}
#contain #content_mid .section.half.right {
	padding-left:1.5rem;
	}
#contain #content_mid .section .label {
	padding-top:2rem;
	border-top:none;
	}
#contain #content_mid .section ul {
	background:transparent;
	font-size:0.75rem;
	line-height:1.2rem;
	list-style-type:none;
	margin:0;
	padding:1.5rem 0 0;
	border:none;
	}
#contain #content_mid .section ul.fancy {
	}
#contain #content_mid .section ul li {
	white-space:nowrap;
	padding-top:0;
	border:none;
	overflow:auto;
	}

#contain #content_mid .section ul.fancy li,
#contain #content_mid .section ul.fancy li.t_left:first-child {
	padding-top:0;
	}
#contain #content_mid .section ul.fancy li.t_left {
	}

#contain #content_mid .section ul li .collapse {
	width:100%;
	max-width:75%;
	max-width:calc(100% - 6rem);
	}
#contain #content_mid .section ul li .t_info {
	float:left;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	}
#contain #content_mid .section ul li .t_info span {
	float:left;
	width:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	}

#contain #content_mid .section ul li .t_right {
	background:white;
	float:right;
	text-align:right;
	border-bottom:none !important;
	}

.clear {
	float:left;
	width:100%;
	height:0;
	margin-top:2rem;
	padding:0;
	border-top:1px solid rgba(0,0,0,0.02);
	clear:both;
	}
.clear:first-child {
	margin-top:0;
	}

/* 	------------------------------------
		IDX
   	------------------------------------ */

#contain.idx {
	}

#contain.idx .descrip {
	padding-bottom:1rem;
	border-bottom:1px solid rgba(0,0,0,0.02);
	}

#contain.idx .idx-block {
	display:block;
	float:left;
	width:100%;
    padding:2rem 0 0;
	}

#contain.idx .idx-block .label {
	padding:0;
	}

#contain.idx .idx-block ul {
  font-size:0.75rem;
  line-height:1.2rem;
	list-style-type:none;
	margin:0;
	padding:1.5rem 0 0;
	}
#contain.idx .idx-block ul li {
	float:left;
	width:100%;
	white-space:nowrap;
	}
#contain.idx .idx-block ul li .collapse {
	float:left;
	width:100%;
	max-width:75%;
	max-width:calc(100% - 5rem);
	}
#contain.idx .idx-block ul li .info {
	float:left;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	}
#contain.idx .idx-block ul li .info a {
	}
#contain.idx .idx-block ul li .info .client {
	}
#contain.idx .idx-block ul li .date {
	float:right;
	}

/* 	------------------------------------
		FOOTER
   	------------------------------------ */

#base {
	float:left;
	width:100%;
	background:#fff;
	margin-top:2.6rem;
	padding:2.6rem 0;
	border-top:1px solid rgba(0,0,0,0.02);
	clear:both;
	}
#base #footer.container,
#base #footer.container.fluid {
	}

#base #footer .link {
	float:left;
	width:auto;
	}
#base #footer .link a {
	border:none;
	}
#base #footer .link a:hover {
	color:$color_black;
	border-bottom:2px solid $color_black;
	}
#base #footer .link.social#email {
	padding-left:1rem;
	}
#base #footer .link.social#twitter {
	margin-left:0.5rem;
	}
#base #footer .link.social#instagram,
#base #footer .link#cv {
	margin-left:1.5rem;
	}
#base #footer a .link#log {
	float:right;
	margin:-10px 0.8rem 0 0;
	}
#base #footer a:hover .link#log {
	}
#base #footer a .link#log .bknd {
	position:relative;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:0 0;
	width:40px;
	height:40px;
}
#base #footer a .link#log .bknd.bknd_default {
	opacity:1;
	background-image:url(../media/assets/icon_log.svg);
}
#base #footer a .link#log .bknd.bknd_hover {
	opacity:0;
	background-image:url(../media/assets/icon_log_hover.svg);
	margin-top:-40px;
}
#base #footer a:hover .link#log .bknd.bknd_default {
	opacity:0;
}
#base #footer a:hover .link#log .bknd.bknd_hover {
	opacity:1;
}

/* 	------------------------------------
		LOG
   	------------------------------------ */

@mixin caps_sans_serif {
	font-family:'Raleway',sans-serif;
	text-transform:uppercase;
	}
@mixin caps_sans_serif_tiny {
	@include caps_sans_serif;
	font-size:0.5rem;
	font-weight:200;
	letter-spacing:0.125rem;
	}
@mixin caps_sans_serif_small {
	@include caps_sans_serif;
	font-size:0.75rem;
	font-weight:200;
	letter-spacing:0.125rem;
	}
@mixin caps_sans_serif_large {
	@include caps_sans_serif;
	font-size:2.0rem;
	font-weight:100;
	letter-spacing:0.275rem;
	}
@mixin tiny_serif {
	font-family:'Arvo',serif;
  font-size:0.5rem;
  font-weight:bold;
  text-transform:uppercase;
	}

.log.container#main {
	font-family:'Arvo',serif;
  font-size:0.65rem;
	padding:calc(#{$log_padding_default} * 6) $log_padding_default calc(#{$log_padding_default} * 8);
	}
.log.container#main div {
	float:left;
	@include box-sizing(border-box);
	}

.log.container#main p {
	@include caps_sans_serif_small;
	padding:$log_padding_default;
	}

#nav_log {
	width:100%;
	padding:0;
	}
#nav_log a {
	opacity:0.95;
	color:$color_black;
	border-bottom:none;
	}

#nav_log #section_title {
	z-index:100;
	position:fixed;
	font-family:'Nova Mono',sans-serif;
	font-size:2.0rem;
	font-kerning:normal;
	margin:2rem calc(#{$log_padding_default} * 2);
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	}
#nav_log #section_title a:hover {
	opacity:1;
	color:$color_red;
	}

#nav_log .btn {
	@include caps_sans_serif_tiny;
	position:relative;
	float:right;
	margin:calc(#{$log_padding_default} * 2);
	padding-bottom:calc(#{$log_padding_default} * 2);
	cursor:cell;
	}
#nav_log .btn#archive,
#nav_log .btn#filter {
	margin-right:0;
	}

#nav_log .btn .btn_menu {
	visibility:hidden;
	opacity:0;
	z-index:999;
	position:absolute;
	background:white;
	width:120px;
	margin-top:10px;
	margin-left:calc(((120px / 2) * -1) + calc(#{$log_padding_default} * 1.55));
	border:1px solid #eee;
	@include transition(opacity 240ms ease);
}
#nav_log .btn .btn_menu:after {
	content:" ";
	position:absolute;
	border-top:10px solid #eee;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:calc(50% - (20px / 2));
	transform:rotate(180deg);
}
#nav_log .btn:hover .btn_menu {
	visibility:visible;
	opacity:1;
	border-top:none;
}
#nav_log .btn .btn_menu ul {
	text-align:center;
	list-style-type:none;
	margin:0;
	padding:0;
}
#nav_log .btn .btn_menu ul li {
	padding:0.25rem 0;
	border-top:1px solid #eee;
	@include transition(opacity 240ms ease);
}
#nav_log .btn .btn_menu ul li:hover {
	opacity:0.5;
}

#albums {
	width:100%;
	height:100%;
	margin:0 0 4.0rem 0;
	padding:0;
	}

#albums .grid-item {
	width:33%;
	width:calc(100% / 3);
	height:auto;
	line-height:normal;
	padding:calc(#{$log_padding_default} * 3) $log_padding_default $log_padding_default;
	}

#albums .album_cover .album_date,
.album_page_date {
	width:100%;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
  letter-spacing:0.05rem;
	}

#albums .album_cover .album_title {
	@include caps_sans_serif_small;
	width:100%;
	text-align:center;
	padding:1rem 0 0;
	}
#albums .album_cover .album_date {
	@include tiny_serif;
	padding:0.25rem 0;
	}

#albums a:hover .album_title,
#albums a:hover .album_date {
	color:$color_black;
	}

#albums .album_cover img {
	float:left;
	width:100%;
	height:auto;
	}

.panel {
	display:block;
	width:100%;
	padding:0 0 calc(#{$log_padding_default} * 10) 0;
	}
.panel .panel_label {
	@include caps_sans_serif_small;
	position:relative;
	width:100%;
	width:calc(100% - calc(#{$log_padding_default} * 2));
	margin-left:$log_padding_default;
	padding:0.5rem 0 2rem;
	border-top:1px solid #eee;
	}
.panel .panel_label a {
	border-bottom:none;
	}
.panel .panel_label:hover a {
	color:$color_black !important;
	}
.panel .panel_images {
	width:100%;
	}
.panel .panel_images .panel_item {
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	width:20%;
	width:calc((100% / 5) - (#{$log_padding_default} * 2));
	margin:$log_padding_default;
	padding:0;
	}
.panel .panel_images .panel_item:before {
	content:"";
	display:block;
	padding-top:100%;
	}
.panel .panel_images .panel_item .panel_item_detail {
	position:absolute;
	width:100%;
	text-align:center;
	margin-top:$log_padding_default;
	}
.panel .panel_images .panel_item .panel_item_label {
	@include caps_sans_serif_small;
	position:relative;
	line-height:1.15rem;
	width:100%;
	padding:0.25rem 0 0;
	}
.panel .panel_images .panel_item .panel_item_date {
	@include tiny_serif;
	position:relative;
	width:100%;
	margin-top:-0.25rem;
	}

.panel .panel_images:hover .panel_item .panel_item_label,
.panel .panel_images:hover .panel_item .panel_item_date {
	color:$color_black;
	}

.panel.archive {
	display:block;
	padding:0;
	}
.panel.archive .panel_images .panel_item {
	width:20%;
	width:calc((100% / 5) - (#{$log_padding_default} * 2));
	margin:$log_padding_default $log_padding_default calc(#{$log_padding_default} * 6) $log_padding_default;
	}

.album_page_title {
	@include caps_sans_serif_large;
	width:100%;
	text-align:center;
	padding:0 0.5rem;
	}
.album_page_date {
  font-weight:700;
  padding:$log_padding_default 0 calc(#{$log_padding_default} * 3);
	}
.album_page_tags {
	@include caps_sans_serif_tiny;
	width:100%;
	width:calc(100% - 1.5rem);
	margin:2.5rem 0.75rem;
	padding:0.5rem 0 2rem;
	border-top:1px solid #eee;
}
.album_page_tags .album_page_tag a {
	background:#eee;
	padding:2px 4px;
	border-bottom:none;
}
.album_page_tags .album_page_tag a:hover {
	background:$color_black;
	color:white;
}

.photo_frame {
	width:100%;
	height:auto;
	padding:calc(#{$log_padding_default} * 2) $log_padding_default;
	}
.photo_frame.half {
	width:50%;
	}
.photo_frame .album_page_image {
	width:100%;
	display:block;
	height:auto;
	}
.photo_frame .photo_caption {
	width:100%;
	font-weight:400;
	text-align:center;
	text-transform:uppercase;
  letter-spacing:0.05rem;
	padding:$log_padding_default 0;
	}

/* 	------------------------------------
		LOADING ANIMATION
   	------------------------------------ */

#loading_animation {
	z-index:1000;
	display:block;
	visibility:visible;
	position:fixed;
	top:200px;
  top:calc(100vh / 4);
  left:50%;
  left:calc(50% - 20px);
}
#loading_animation.hide {
	display:none;
	visibility:hidden;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color_black;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

/* 	------------------------------------
		FLUIDITY
   	------------------------------------ */

@media (min-width:320px) { 
	/* smartphones, iPhone, portrait 480x320 phones */

	.container,
	.container.fluid {
		width:100%;
		margin:0 auto;
		padding:0 calc(#{$log_padding_default} * 2);
		clear:both;
		}

	.container #proj,
	.container.fluid #proj {
		margin-top:1.8rem;
		padding:0;
		}

	#nav {
		font-size:1.5rem;
		line-height:2rem;
		}

	#nav .container .nav,
	#nav .container.fluid .nav,
	#nav .container .nav.home,
	#nav .container.fluid .nav.home,
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj,
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		float:left;
		width:100%;
		margin:0;
		}

	.container #proj-list,
	.container.fluid #proj-list {
		margin-top:1.8rem;
		padding:0;
		}

	#proj-list a.list-img-link {
		width:100%;
		height:auto;
		margin:0 0 3rem 0;
		padding:0;
		}
	#proj-list a.list-img-link._01,
	#proj-list a.list-img-link._02,
	#proj-list a.list-img-link._03,
	#proj-list a.list-img-link._04,
	#proj-list a.list-img-link.col_odd_01,
	#proj-list a.list-img-link.col_odd_02,
	#proj-list a.list-img-link.col_odd_03,
	#proj-list a.list-img-link.col_exp_01,
	#proj-list a.list-img-link.col_exp_02,
	#proj-list a.list-img-link.col_exp_03,
	#proj-list a.list-img-link.col_exp_04,
	#proj-list a.list-img-link.col_exp_05 {
		margin:0 0 3rem 0;
		padding:0;
		}

	#proj-list a.list-img-link .metadata p.list-title {
		font-size:1rem;
		line-height:1.5rem;
		}
	#proj-list a.list-img-link .metadata p.list-date {
		font-size:1.5rem;
		}

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 1.5rem 0;
		}

	#contain {
		margin-top:1.8rem;
		padding:0;
		}
	#contain #content_mid .section.half,
	#contain #content_mid .section.half.left,
	#contain #content_mid .section.half.right {
		width:100%;
		padding:0 0 2rem 0;
		}
	#contain #content_mid .section.half:last-child {
		padding:0;
		}
	#contain #content_mid .section .label {
		border-top:1px solid rgba(0,0,0,0.02);
		}
	.clear {
		margin-top:0;
		border-top:none;
		}

	#base #footer.container,
	#base #footer.container.fluid {
		font-size:1.5rem;
		line-height:2rem;
		}
	#base #footer .link {
		float:left;
		width:100%;
		}
	#base #footer .link a:hover {
		border-bottom:none;
		}
	#base #footer .link.social#email {
		padding-left:0;
		}
	#base #footer .link.social#twitter,
	#base #footer .link.social#instagram,
	#base #footer .link#cv {
		margin-left:0;
		}

	#base #footer a .link#log {
		float:left;
		margin:0.125rem 0;
		}

	#nav_log #section_title {
		font-size:1.8rem;
		margin-left:0;
		margin-top:4.2rem;
		}

	#nav_log .btn {
		margin:calc(#{$log_padding_default} * 2);
		}
	#nav_log .btn#contact,
	#nav_log .btn#about {
		margin-right:0;
		}

	#albums .grid-item {
		width:100%;
		}

	.panel {
		display:none;
		}
	
	.panel.archive .panel_images .panel_item {
		width:100%;
		width:calc(100% - (#{$log_padding_default} * 2));
		margin:$log_padding_default $log_padding_default calc(#{$log_padding_default} * 6) $log_padding_default;
		}

	#loading_animation {
	  top:calc(100vh / 3);
		}
	}

@media (min-width:481px) { 
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

	.container,
	.container.fluid {
		width:100%;
		margin:0 auto;
		padding:0 calc(#{$log_padding_default} * 2);
		clear:both;
		}

	.container #proj,
	.container.fluid #proj {
		margin-top:0;
		padding:0;
		}

	#nav {
		font-size:1rem;
		line-height:1.5rem;
		}

	#nav .container .nav,
	#nav .container.fluid .nav,
	#nav .container .nav.home,
	#nav .container.fluid .nav.home,
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj,
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		width:auto;
		margin:0;
		}
	#nav .container .nav.home,
	#nav .container.fluid .nav.home {
		float:left;
		}
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		float:right;
		margin-right:1.5rem;
		}
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj {
		float:right;
		}

	.container #proj-list,
	.container.fluid #proj-list {
		margin-top:0;
		padding:0;
		}

	#proj-list a.list-img-link {
		width:48%;
		width:calc(50% - 0.75rem);
		height:auto;
		margin:0 0 3rem 0;
		padding:0;
		}
	#proj-list a.list-img-link._01,
	#proj-list a.list-img-link._02,
	#proj-list a.list-img-link._03,
	#proj-list a.list-img-link._04,
	#proj-list a.list-img-link.col_odd_01,
	#proj-list a.list-img-link.col_odd_02,
	#proj-list a.list-img-link.col_odd_03,
	#proj-list a.list-img-link.col_exp_01,
	#proj-list a.list-img-link.col_exp_02,
	#proj-list a.list-img-link.col_exp_03,
	#proj-list a.list-img-link.col_exp_04,
	#proj-list a.list-img-link.col_exp_05 {
		margin:0 0 3rem 0;
		padding:0;
		}
	#proj-list a.list-img-link._01,
	#proj-list a.list-img-link._03 {
		margin-right:2%;
		margin-right:calc(0.75rem - 0rem);
		}
	#proj-list a.list-img-link._02,
	#proj-list a.list-img-link._04 {
		margin-left:2%;
		margin-left:calc(0.75rem - 0rem);
		}

	#proj-list a.list-img-link .metadata p.list-title {
		font-size:0.65rem;
		line-height:1rem;
		}
	#proj-list a.list-img-link .metadata p.list-date {
		font-size:1rem;
		}

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 1.5rem 0;
		}

	#contain {
		margin-top:0;
		padding:0;
		}
	#contain #content_mid .section.half,
	#contain #content_mid .section.half.left,
	#contain #content_mid .section.half.right {
		width:100%;
		padding:0 0 2rem 0;
		}
	#contain #content_mid .section.half:last-child {
		padding:0;
		}
	#contain #content_mid .section .label {
		border-top:1px solid rgba(0,0,0,0.02);
		}
	.clear {
		margin-top:0;
		border-top:none;
		}

	#base #footer.container,
	#base #footer.container.fluid {
		font-size:1rem;
		line-height:1.5rem;
		}
	#base #footer .link {
		float:left;
		width:auto;
		}
	#base #footer .link a:hover {
		border-bottom:2px solid $color_black;
		}
	#base #footer .link.social#email {
		padding-left:0;
		}
	#base #footer .link.social#twitter,
	#base #footer .link.social#instagram,
	#base #footer .link#cv {
		margin-left:1.5rem;
		}

	#base #footer a .link#log {
		float:right;
		margin:-10px -0.2rem 0 0;
		}

	#nav_log #section_title {
		font-size:2.0rem;
		margin-left:0;
		margin-top:2.0rem;
		}
		
	#nav_log .btn {
		margin:calc(#{$log_padding_default} * 2);
		}
	#nav_log .btn#contact,
	#nav_log .btn#about {
		margin-right:0;
		}

	#albums .grid-item {
		width:100%;
		}

	.panel {
		display:none;
		}
	
	.panel.archive .panel_images .panel_item {
		width:50%;
		width:calc((100% / 2) - calc(#{$log_padding_default} * 2));
		margin:$log_padding_default $log_padding_default calc(#{$log_padding_default} * 6) $log_padding_default;
		}

	#loading_animation {
	  top:calc(100vh / 3);
		}
	}

@media (min-width:641px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

	.container,
	.container.fluid {
		width:100%;
		margin:0 auto;
		padding:0 calc(#{$log_padding_default} * 2);
		clear:both;
		}

	.container #proj,
	.container.fluid #proj {
		margin-top:0;
		padding:0;
		}

	#nav {
		font-size:1rem;
		line-height:1.5rem;
		}

	#nav .container .nav,
	#nav .container.fluid .nav,
	#nav .container .nav.home,
	#nav .container.fluid .nav.home,
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj,
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		width:auto;
		margin:0;
		}
	#nav .container .nav.home,
	#nav .container.fluid .nav.home {
		float:left;
		}
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		float:right;
		margin-right:1.5rem;
		}
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj {
		float:right;
		}

	.container #proj-list,
	.container.fluid #proj-list {
		margin-top:0;
		padding:0;
		}

	#proj-list a.list-img-link {
		width:31%;
		width:calc(33.33% - 1rem);
		height:auto;
		margin:0 0 3rem 0;
		padding:0;
		}
	#proj-list a.list-img-link._01,
	#proj-list a.list-img-link._02,
	#proj-list a.list-img-link._03,
	#proj-list a.list-img-link._04,
	#proj-list a.list-img-link.col_odd_01,
	#proj-list a.list-img-link.col_odd_02,
	#proj-list a.list-img-link.col_odd_03,
	#proj-list a.list-img-link.col_exp_01,
	#proj-list a.list-img-link.col_exp_02,
	#proj-list a.list-img-link.col_exp_03,
	#proj-list a.list-img-link.col_exp_04,
	#proj-list a.list-img-link.col_exp_05 {
		padding:0;
		}
	#proj-list a.list-img-link.col_odd_01 {
		margin:0 0 3rem 0;
		}
	#proj-list a.list-img-link.col_odd_02 {
		margin:0 3.5% 3rem 3.5%;
		margin-left:calc(1.5rem - 0rem);
		margin-right:calc(1.5rem - 0rem);
		}
	#proj-list a.list-img-link.col_odd_03 {
		margin:0 0 3rem 0;
		}

	#proj-list a.list-img-link .metadata p.list-title {
		font-size:0.65rem;
		line-height:1rem;
		}
	#proj-list a.list-img-link .metadata p.list-date {
		font-size:1rem;
		}

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 1.5rem 0;
		}

	#contain {
		margin-top:0;
		padding:0;
		}
	#contain #content_mid .section.half,
	#contain #content_mid .section.half.left,
	#contain #content_mid .section.half.right {
		width:100%;
		padding:0 0 2rem 0;
		}
	#contain #content_mid .section.half:last-child {
		padding:0;
		}
	#contain #content_mid .section .label {
		border-top:1px solid rgba(0,0,0,0.02);
		}
	.clear {
		margin-top:0;
		border-top:none;
		}

	#base #footer.container,
	#base #footer.container.fluid {
		font-size:1rem;
		line-height:1.5rem;
		}
	#base #footer .link {
		float:left;
		width:auto;
		}
	#base #footer .link a:hover {
		border-bottom:2px solid $color_black;
		}
	#base #footer .link.social#email {
		padding-left:0;
		}

	#nav_log #section_title {
		font-size:2.0rem;
		margin-left:0;
		margin-top:2.0rem;
		}
		
	#nav_log .btn {
		margin:calc(#{$log_padding_default} * 2);
		}
	#nav_log .btn#contact,
	#nav_log .btn#about {
		margin-right:0;
		}

	#albums .grid-item {
		width:50%;
		}

	.panel {
		display:none;
		}
	
	.panel.archive .panel_images .panel_item {
		width:33%;
		width:calc((100% / 3) - calc(#{$log_padding_default} * 2));
		margin:$log_padding_default $log_padding_default calc(#{$log_padding_default} * 6) $log_padding_default;
		}

	#loading_animation {
	  top:calc(100vh / 4);
		}
	}

@media (min-width:961px) { 
	/* tablet, landscape iPad, lo-res laptops and desktops */ 

	.container,
	.container.fluid {
		width:100%;
		margin:0 auto;
		padding:0 calc(#{$log_padding_default} * 2);
		clear:both;
		}

	.container #proj,
	.container.fluid #proj {
		margin-top:0;
		padding:0;
		}

	#nav {
		font-size:1rem;
		line-height:1.5rem;
		}

	#nav .container .nav,
	#nav .container.fluid .nav,
	#nav .container .nav.home,
	#nav .container.fluid .nav.home,
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj,
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		width:auto;
		margin:0;
		}
	#nav .container .nav.home,
	#nav .container.fluid .nav.home {
		float:left;
		}
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		float:right;
		margin-right:1.5rem;
		}
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj {
		float:right;
		}

	.container #proj-list,
	.container.fluid #proj-list {
		margin-top:0;
		padding:0;
		}

	#proj-list a.list-img-link {
		width:22%;
		width:calc(25% - 1.125rem);
		height:auto;
		margin:0 0 3rem 0;
		padding:0;
		}
	#proj-list a.list-img-link._01,
	#proj-list a.list-img-link._02,
	#proj-list a.list-img-link._03,
	#proj-list a.list-img-link._04,
	#proj-list a.list-img-link.col_odd_01,
	#proj-list a.list-img-link.col_odd_02,
	#proj-list a.list-img-link.col_odd_03,
	#proj-list a.list-img-link.col_exp_01,
	#proj-list a.list-img-link.col_exp_02,
	#proj-list a.list-img-link.col_exp_03,
	#proj-list a.list-img-link.col_exp_04,
	#proj-list a.list-img-link.col_exp_05 {
		margin:0 0 3rem 0;
		margin-left:0;
		margin-right:0;
		padding:0;
		}
	#proj-list a.list-img-link._02 {
		margin-left:4%;
		margin-left:calc(1.5rem - 0rem);
		margin-right:2%;
		margin-right:calc(0.75rem - 0rem);
		}
	#proj-list a.list-img-link._03{
		margin-left:2%;
		margin-left:calc(0.75rem - 0rem);
		margin-right:4%;
		margin-right:calc(1.5rem - 0rem);
		}

	#proj-list a.list-img-link .metadata p.list-title {
		font-size:0.65rem;
		line-height:1rem;
		}
	#proj-list a.list-img-link .metadata p.list-date {
		font-size:1rem;
		}

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 2rem 0;
		}
	.container #proj #media .media.half,
	.container.fluid #proj #media .media.half {
		width:50%;
		}
	.container #proj #media .media.half.left,
	.container.fluid #proj #media .media.half.left {
		padding-right:0.75rem;
		}
	.container #proj #media .media.half.right,
	.container.fluid #proj #media .media.half.right {
		padding-left:0.75rem;
		}

	#contain {
		margin-top:0;
		padding:0;
		}
	#contain #content_mid .section.half,
	#contain #content_mid .section.half.left,
	#contain #content_mid .section.half.right {
		width:100%;
		padding:0 0 2rem 0;
		}
	#contain #content_mid .section.half:last-child {
		padding:0;
		}
	#contain #content_mid .section .label {
		border-top:1px solid rgba(0,0,0,0.02);
		}
	.clear {
		margin-top:0;
		border-top:none;
		}
	
	#base #footer.container,
	#base #footer.container.fluid {
		font-size:1rem;
		line-height:1.5rem;
		}
	#base #footer .link {
		float:left;
		width:auto;
		}
	#base #footer .link a:hover {
		border-bottom:2px solid $color_black;
		}
	#base #footer .link.social#email {
		padding-left:0;
		}
	#base #footer .link.social#twitter,
	#base #footer .link.social#instagram,
	#base #footer .link#cv {
		margin-left:1.5rem;
		}

	#base #footer a .link#log {
		float:right;
		margin:-10px -0.2rem 0 0;
		}

	#nav_log #section_title {
		font-size:2.0rem;
		margin-left:0;
		margin-top:2.0rem;
		}
		
	#nav_log .btn {
		margin:calc(#{$log_padding_default} * 2);
		}
	#nav_log .btn#contact,
	#nav_log .btn#about {
		margin-right:0;
		}

	#albums .grid-item {
		width:33%;
		width:calc(100% / 3);
		}

	.panel {
		display:block;
		}
	
	.panel.archive .panel_images .panel_item {
		width:20%;
		width:calc((100% / 5) - calc(#{$log_padding_default} * 2));
		margin:$log_padding_default $log_padding_default calc(#{$log_padding_default} * 6) $log_padding_default;
		}

	#loading_animation {
	  top:calc(100vh / 4);
		}
	}

@media (min-width:1025px) { 
	/* big landscape tablets, laptops, and desktops */ 

	.container,
	.container.fluid {
		width:100%;
		margin:0 auto;
		padding:0 calc(#{$log_padding_default} * 2);
		clear:both;
		}

	.container #proj,
	.container.fluid #proj {
		margin-top:0;
		padding:0;
		}

	#nav {
		font-size:1rem;
		line-height:1.5rem;
		}

	#nav .container .nav,
	#nav .container.fluid .nav,
	#nav .container .nav.home,
	#nav .container.fluid .nav.home,
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj,
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		width:auto;
		margin:0;
		}
	#nav .container .nav.home,
	#nav .container.fluid .nav.home {
		float:left;
		}
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		float:right;
		margin-right:1.5rem;
		}
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj {
		float:right;
		}

	.container #proj-list,
	.container.fluid #proj-list {
		margin-top:0;
		padding:0;
		}

	#proj-list a.list-img-link {
		width:22%;
		width:calc(25% - 1.125rem);
		height:auto;
		margin:0 0 3rem 0;
		padding:0;
		}
	#proj-list a.list-img-link._01,
	#proj-list a.list-img-link._02,
	#proj-list a.list-img-link._03,
	#proj-list a.list-img-link._04,
	#proj-list a.list-img-link.col_odd_01,
	#proj-list a.list-img-link.col_odd_02,
	#proj-list a.list-img-link.col_odd_03,
	#proj-list a.list-img-link.col_exp_01,
	#proj-list a.list-img-link.col_exp_02,
	#proj-list a.list-img-link.col_exp_03,
	#proj-list a.list-img-link.col_exp_04,
	#proj-list a.list-img-link.col_exp_05  {
		margin:0 0 3rem 0;
		margin-left:0;
		margin-right:0;
		padding:0;
		}
	#proj-list a.list-img-link._02 {
		margin-left:4%;
		margin-left:calc(1.5rem - 0rem);
		margin-right:2%;
		margin-right:calc(0.75rem - 0rem);
		}
	#proj-list a.list-img-link._03{
		margin-left:2%;
		margin-left:calc(0.75rem - 0rem);
		margin-right:4%;
		margin-right:calc(1.5rem - 0rem);
		}

	#proj-list a.list-img-link .metadata p.list-title {
		font-size:0.65rem;
		line-height:1rem;
		}
	#proj-list a.list-img-link .metadata p.list-date {
		font-size:1rem;
		}

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 2rem 0;
		}
	.container #proj #media .media.half,
	.container.fluid #proj #media .media.half {
		width:50%;
		}
	.container #proj #media .media.half.left,
	.container.fluid #proj #media .media.half.left {
		padding-right:0.75rem;
		}
	.container #proj #media .media.half.right,
	.container.fluid #proj #media .media.half.right {
		padding-left:0.75rem;
		}

	#contain {
		margin-top:0;
		padding:0;
		}
	#contain #content_mid .section.half,
	#contain #content_mid .section.half.left,
	#contain #content_mid .section.half.right {
		width:100%;
		padding:0 0 2rem 0;
		}
	#contain #content_mid .section.half:last-child {
		padding:0;
		}
	#contain #content_mid .section .label {
		border-top:1px solid rgba(0,0,0,0.02);
		}
	.clear {
		margin-top:0;
		border-top:none;
		}
	
	#base #footer.container,
	#base #footer.container.fluid {
		font-size:1rem;
		line-height:1.5rem;
		}
	#base #footer .link {
		float:left;
		width:auto;
		}
	#base #footer .link a:hover {
		border-bottom:2px solid $color_black;
		}
	#base #footer .link.social#email {
		padding-left:0;
		}
	#base #footer .link.social#twitter,
	#base #footer .link.social#instagram,
	#base #footer .link#cv {
		margin-left:1.5rem;
		}

	#base #footer a .link#log {
		float:right;
		margin:-10px -0.2rem 0 0;
		}

	#nav_log #section_title {
		font-size:2.0rem;
		margin-left:0;
		margin-top:2.0rem;
		}
		
	#nav_log .btn {
		margin:calc(#{$log_padding_default} * 2);
		}
	#nav_log .btn#contact,
	#nav_log .btn#about {
		margin-right:0;
		}

	#albums .grid-item {
		width:33%;
		width:calc(100% / 3);
		}

	.panel {
		display:block;
		}
	
	.panel.archive .panel_images .panel_item {
		width:20%;
		width:calc((100% / 5) - calc(#{$log_padding_default} * 2));
		margin:$log_padding_default $log_padding_default calc(#{$log_padding_default} * 6) $log_padding_default;
		}

	#loading_animation {
	  top:calc(100vh / 4);
		}
	}

@media (min-width:1281px) { 
	/* hi-res laptops and desktops */

	.container,
	.container.fluid {
		background:#fff;
		width:1218px;
		margin:0 auto;
		padding:0;
		}

	.container #proj,
	.container.fluid #proj {
		margin-top:0;
		padding:0 1rem;
		}

	#nav {
		font-size:1rem;
		line-height:1.5rem;
		}

	#nav .container .nav,
	#nav .container.fluid .nav,
	#nav .container .nav.home,
	#nav .container.fluid .nav.home,
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj,
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		width:auto;
		padding:0;
		}
	#nav .container .nav.home,
	#nav .container.fluid .nav.home {
		float:left;
		margin-left:1rem;
		}
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		float:right;
		}
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj {
		float:right;
		margin-right:1rem;
		}

	.container #proj-list,
	.container.fluid #proj-list {
		margin-top:0;
		padding:0 1rem;
		}

	#proj-list a.list-img-link {
		width:22%;
		width:calc(25% - 1.125rem);
		height:auto;
		margin:0 0 3rem 0;
		padding:0;
		}
	#proj-list a.list-img-link._01,
	#proj-list a.list-img-link._02,
	#proj-list a.list-img-link._03,
	#proj-list a.list-img-link._04,
	#proj-list a.list-img-link.col_odd_01,
	#proj-list a.list-img-link.col_odd_02,
	#proj-list a.list-img-link.col_odd_03,
	#proj-list a.list-img-link.col_odd_04,
	#proj-list a.list-img-link.col_exp_01,
	#proj-list a.list-img-link.col_exp_02,
	#proj-list a.list-img-link.col_exp_03,
	#proj-list a.list-img-link.col_exp_04,
	#proj-list a.list-img-link.col_exp_05 {
		margin:0 0 3rem 0;
		margin-left:0;
		margin-right:0;
		padding:0;
		}
	#proj-list a.list-img-link._02 {
		margin-left:4%;
		margin-left:calc(1.5rem - 0rem);
		margin-right:2%;
		margin-right:calc(0.75rem - 0rem);
		}
	#proj-list a.list-img-link._03{
		margin-left:2%;
		margin-left:calc(0.75rem - 0rem);
		margin-right:4%;
		margin-right:calc(1.5rem - 0rem);
		}

	#proj-list a.list-img-link .metadata p.list-title {
		font-size:0.65rem;
		line-height:1rem;
		}
	#proj-list a.list-img-link .metadata p.list-date {
		font-size:1rem;
		}

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 2rem 0;
		}
	.container #proj #media .media.half,
	.container.fluid #proj #media .media.half {
		width:50%;
		}
	.container #proj #media .media.half.left,
	.container.fluid #proj #media .media.half.left {
		padding-right:1.5rem;
		}
	.container #proj #media .media.half.right,
	.container.fluid #proj #media .media.half.right {
		padding-left:1.5rem;
		}

	#contain {
		margin-top:0;
		padding:0 1rem;
		}
	#contain #content_mid .section.half,
	#contain #content_mid .section.half.left,
	#contain #content_mid .section.half.right {
		padding:0;
		}
	#contain #content_mid .section.half.left {
		width:50%;
		padding-right:1.5rem;
		}
	#contain #content_mid .section.half.right {
		width:50%;
		padding-left:1.5rem;
		}
	#contain #content_mid .section .label {
		border-top:none;
		}
	.clear {
		margin-top:2rem;
		border-top:1px solid rgba(0,0,0,0.02);
		}

	#base #footer.container,
	#base #footer.container.fluid {
		font-size:1rem;
		line-height:1.5rem;
		}
	#base #footer .link {
		float:left;
		width:auto;
		}
	#base #footer .link a:hover {
		border-bottom:2px solid $color_black;
		}
	#base #footer .link.social#email {
		padding-left:1rem;
		}
	#base #footer .link.social#twitter,
	#base #footer .link.social#instagram,
	#base #footer .link#cv {
		margin-left:1.5rem;
		}

	#base #footer a .link#log {
		float:right;
		margin:-10px 0.8rem 0 0;
		}

	#nav_log #section_title {
		font-size:2.0rem;
		margin-left:calc(#{$log_padding_default} * 2);
		margin-top:2.0rem;
		}
		
	#nav_log .btn {
		margin:calc(#{$log_padding_default} * 2);
		}
	#nav_log .btn#contact,
	#nav_log .btn#about {
		margin-right:calc(#{$log_padding_default} * 2);
		}

	#albums .grid-item {
		width:33%;
		width:calc(100% / 3);
		}

	.panel {
		display:block;
		}
	
	.panel.archive .panel_images .panel_item {
		width:20%;
		width:calc((100% / 5) - calc(#{$log_padding_default} * 2));
		margin:$log_padding_default $log_padding_default calc(#{$log_padding_default} * 6) $log_padding_default;
		}

	#loading_animation {
	  top:calc(100vh / 4);
		}
	}

@media (min-width:1920px) { 
	/* large monitors */

	.container,
	.container.fluid {
		background:#fff;
		width:1800px;
		margin:0 auto;
		padding:0 calc(#{$log_padding_default} * 2);
		}

	.container #proj,
	.container.fluid #proj {
		margin-top:0;
		padding:0 1rem;
		}

	#nav {
		font-size:1rem;
		line-height:1.5rem;
		}

	#nav .container .nav,
	#nav .container.fluid .nav,
	#nav .container .nav.home,
	#nav .container.fluid .nav.home,
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj,
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		width:auto;
		padding:0;
		}
	#nav .container .nav.home,
	#nav .container.fluid .nav.home {
		float:left;
		margin-left:1rem;
		}
	#nav .container .nav.abt,
	#nav .container.fluid .nav.abt {
		float:right;
		}
	#nav .container .nav.proj,
	#nav .container.fluid .nav.proj {
		float:right;
		margin-right:1rem;
		}

	.container #proj-list,
	.container.fluid #proj-list {
		margin-top:0;
		padding:0 1rem;
		}
/*3rem total around an image*/
	#proj-list a.list-img-link {
		width:15.2%;
		width:calc(20% - 1.2rem);
		height:auto;
		margin:0 0 3rem 0;
		padding:0;
		}
	#proj-list a.list-img-link._01,
	#proj-list a.list-img-link._02,
	#proj-list a.list-img-link._03,
	#proj-list a.list-img-link._04,
	#proj-list a.list-img-link.col_odd_01,
	#proj-list a.list-img-link.col_odd_02,
	#proj-list a.list-img-link.col_odd_03,
	#proj-list a.list-img-link.col_odd_04,
	#proj-list a.list-img-link.col_exp_01,
	#proj-list a.list-img-link.col_exp_02,
	#proj-list a.list-img-link.col_exp_03,
	#proj-list a.list-img-link.col_exp_04,
	#proj-list a.list-img-link.col_exp_05 {
		margin:0 0 3rem 0;
		margin-left:0;
		margin-right:0;
		padding:0;
		}
	#proj-list a.list-img-link.col_exp_01 {
		margin-right:2%;
		margin-right:calc(0.75rem - 0rem);
	}
	#proj-list a.list-img-link.col_exp_02 {
		margin-left:2%;
		margin-left:calc(0.75rem - 0rem);
		margin-right:2%;
		margin-right:calc(0.75rem - 0rem);
	}
	#proj-list a.list-img-link.col_exp_03 {
		margin-left:2%;
		margin-left:calc(0.75rem - 0rem);
		margin-right:2%;
		margin-right:calc(0.75rem - 0rem);
	}
	#proj-list a.list-img-link.col_exp_04 {
		margin-left:2%;
		margin-left:calc(0.75rem - 0rem);
		margin-right:2%;
		margin-right:calc(0.75rem - 0rem);
	}
	#proj-list a.list-img-link.col_exp_05 {
		margin-left:2%;
		margin-left:calc(0.75rem - 0rem);
	}

	#proj-list a.list-img-link .metadata p.list-title {
		font-size:0.65rem;
		line-height:1rem;
		}
	#proj-list a.list-img-link .metadata p.list-date {
		font-size:1rem;
		}

	.container #proj #media .media,
	.container.fluid #proj #media .media {
		width:100%;
		padding:0 0 2rem 0;
		}
	.container #proj #media .media.half,
	.container.fluid #proj #media .media.half {
		width:50%;
		}
	.container #proj #media .media.half.left,
	.container.fluid #proj #media .media.half.left {
		padding-right:1.5rem;
		}
	.container #proj #media .media.half.right,
	.container.fluid #proj #media .media.half.right {
		padding-left:1.5rem;
		}

	#contain {
		margin-top:0;
		padding:0 1rem;
		}
	#contain #content_mid .section.half,
	#contain #content_mid .section.half.left,
	#contain #content_mid .section.half.right {
		padding:0;
		}
	#contain #content_mid .section.half.left {
		width:50%;
		padding-right:1.5rem;
		}
	#contain #content_mid .section.half.right {
		width:50%;
		padding-left:1.5rem;
		}
	#contain #content_mid .section .label {
		border-top:none;
		}
	.clear {
		margin-top:2rem;
		border-top:1px solid rgba(0,0,0,0.02);
		}

	#base #footer.container,
	#base #footer.container.fluid {
		font-size:1rem;
		line-height:1.5rem;
		}
	#base #footer .link {
		float:left;
		width:auto;
		}
	#base #footer .link a:hover {
		border-bottom:2px solid $color_black;
		}
	#base #footer .link.social#email {
		padding-left:1rem;
		}
	#base #footer .link.social#twitter,
	#base #footer .link.social#instagram,
	#base #footer .link#cv {
		margin-left:1.5rem;
		}

	#base #footer a .link#log {
		float:right;
		margin:-10px 0.8rem 0 0;
		}

	#nav_log #section_title {
		font-size:2.0rem;
		margin-left:calc(#{$log_padding_default} * -1);
		margin-top:2.0rem;
		}
		
	#nav_log .btn {
		margin:calc(#{$log_padding_default} * 2);
		}
	#nav_log .btn#contact,
	#nav_log .btn#about {
		margin-right:-0.5rem;
		}

	#albums .grid-item {
		width:33%;
		width:calc(100% / 3);
		}

	.panel {
		display:block;
		}
	
	.panel.archive .panel_images .panel_item {
		width:20%;
		width:calc((100% / 5) - calc(#{$log_padding_default} * 2));
		}

	#loading_animation {
	  top:calc(100vh / 4);
		}
	}

/* 	------------------------------------
		FIREFOX HACKS
   	------------------------------------ */

@-moz-document url-prefix() { 
  #proj .sub #post-tags .tag {
     padding:0.3rem 0.25rem 0.2rem;
  }
}