circle.node {
	fill:#fff;
	stroke:#222;
	stroke-width:0.75;
	shape-rendering:geometricPrecision;
}

circle.node.joint {
	fill:#222;
	stroke:#fff;
	stroke-width:1.5;
}

line.link {
	stroke:#ccc;
	stroke-width:0.5;
	stroke-opacity:0;
	stroke-dasharray:1,3;
	pointer-events:none;
}