[submodule "x/youarehere"]
	path = x/youarehere
	url = https://github.com/emilyfuhrman/youarehere.git
	ignore = dirty
[submodule "x/boats"]
	path = x/boats
	url = https://github.com/emilyfuhrman/boats.git
	ignore = dirty
[submodule "x/weather-machine"]
	path = x/weather-machine
	url = https://github.com/emilyfuhrman/weather-machine.git
	ignore = dirty
[submodule "x/datawave"]
	path = x/datawave
	url = https://github.com/emilyfuhrman/datawave.git
	ignore = dirty
