{% if lat > 0 %}
	{% capture new_lat %}{{ lat }}{% endcapture %}
	{% capture dir_lat %}N{% endcapture %}
{% else %}
	{% capture new_lat %}{{ lat | times: -1 }}{% endcapture %}
	{% capture dir_lat %}S{% endcapture %}
{% endif %}
{% capture deg_lat %}{{ new_lat | floor }}{% endcapture %}
{% capture min_lat %}{{ new_lat | minus: deg_lat | times: 60 | floor }}{% endcapture %}
{% capture sec_lat %}{{ new_lat | minus: deg_lat | times: 60 | minus: min_lat | times: 60 | round: 2 }}{% endcapture %}

{% if lon > 0 %}
	{% capture dir_lon %}E{% endcapture %}
	{% capture new_lon %}{{ lon }}{% endcapture %}
{% else %}
	{% capture dir_lon %}W{% endcapture %}
	{% capture new_lon %}{{ lon | times: -1 }}{% endcapture %}
{% endif %}
{% capture deg_lon %}{{ new_lon | floor }}{% endcapture %}
{% capture min_lon %}{{ new_lon | minus: deg_lon | times: 60 | floor }}{% endcapture %}
{% capture util_sec_lon %}{% endcapture %}
{% capture sec_lon %}{{ new_lon | minus: deg_lon | times: 60 | minus: min_lon | times: 60 | round: 2 }}{% endcapture %}

{{ deg_lat }}&deg; {{ min_lat }}&prime; {{ sec_lat }}&Prime; {{ dir_lat }}, {{ deg_lon }}&deg; {{ min_lon }}&prime; {{ sec_lon }}&Prime; {{ dir_lon }}