	</div>
	{% if page.category == 'log' %}
	<script src='/js/gallery.js'></script>
	{% else %}
	<div id='base' class='{{ page.category }}'>
		<div id='footer' class='resize container'>
			<div class='social link' id='email'><a href='mailto:ef2512@columbia.edu'>Email</a></div>
			<div class='social link' id='twitter'><a href='https://twitter.com/_E__F' target='_blank'>Twitter</a></div>
			<div class='social link' id='instagram'><a href='https://www.instagram.com/_lllll__llllll/' target='_blank'>Instagram</a></div>
			<div class='link' id='cv'><a href='/about/CV.pdf'>CV</a></div>
			<a href='/log' target='_blank'><div class='link' id='log'></div></a>
		</div>
	</div>
	<script type='text/javascript' src='/js/vid.js'></script>
	<script type='text/javascript' src='/js/fluidity.js'></script>
	<script type='text/javascript' src='/js/master.js'></script>
	{% endif %}
	{% include loading_animation.html %}
	<script src='/js/loading.js'></script>
</body>
</html>