{% assign maxPosts = 3 %}
{% assign counter = 0 %}
<div class='panel'>
	{% capture archive_link %}
		{% if parameter %}{{ tag_string | downcase | replace: ' ', '-' }}{% else %}''{% endif %}
	{% endcapture %}
	<div class='panel_label {% if parameter == nil or parameter == '' %}leader{% endif %}'><a href='/log/archive/{{ archive_link }}'>{{ tag_string }}</a></div>
	<div class='panel_images'>
	{% if parameter %}
		{% for post in site.log reversed %}
			{% for item in post.metadata %}
				{% if item[parameter] contains tag_string and counter < maxPosts %}
					{% assign counter=counter | plus:1 %}
					{% include post_log_swatch.html %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% else %}
		{% for post in site.log reversed %}
			{% if counter < maxPosts %}
				{% assign counter=counter | plus:1 %}
				{% include post_log_swatch.html %}
			{% endif %}
		{% endfor %}
	{% endif %}
	</div>
</div>