<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ site.name }}{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="emily fuhrman, emily, fuhrman, ylime, yxlime, y-lime, data visualization, data art, data artist, information design, Processing, code, graphic design, interactivity, William &amp; Mary, William and Mary, Brooklyn, New York, NYC" />
		<link rel='icon' href='favicon.ico' />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<link rel="icon" type="image/png" href="images/favicon.png" />
	<header>
		<nav class="links">
			<a class='btn' href=''><div class="nav name">EMILY FUHRMAN</div></a>
			<a class='btn' href=''><div class="nav proj">PROJECTS</div></a>
			<a class='btn' href=''><div class="nav abt">ABOUT</div></a>
		</nav>
	</header>
	<div id="wrapper">
		