<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ site.name }}</title>
	<meta name='description' content='{{ page.description }}'>
	
	<link rel='icon' href='/favicon.ico' />
	<link rel='stylesheet' type='text/css' href='/css/style.css' />

	<script type='text/javascript' src='/js/libs/jquery-2.2.1.min.js'></script>
	<script type='text/javascript' src='/js/libs/d3.v2.min.js'></script>
</head>
<body>
	<div id='nav' class='resize container'>
		{% include nav.html %}
	</div>
	<div id='{{ page.category }}' class='resize container'>
		