<div class='map_title'>Latest coordinates</div>
{% assign counter = 0 %}
{% assign lon = 0 %}
{% assign lat = 0 %}
{% for post in site.log reversed %}
    {% if counter < 1 %}
        {% assign counter = counter | plus:1 %}
        {% assign lon = post.lon %}
        {% assign lat = post.lat %}
        <div class='coordinates'><span id='coord_lon'>{{ lon }}</span>, <span id='coord_lat'>{{ lat }}</span></div>
    {% endif %}
{% endfor %}
<div id='map_container'></div>
<script>
    function ConvertDDToDMS(D, lng){
        return {
            dir : D<0?lng?'W':'S':lng?'E':'N',
            deg : 0|(D<0?D=-D:D),
            min : 0|D%1*60,
            sec :(0|D*60%1*6000)/100
        };
    }

    var lon_converted = ConvertDDToDMS({{ lon }}, true),
        lat_converted = ConvertDDToDMS({{ lat }}, false);

    d3.select('#coord_lon').html(lon_converted.deg +'&deg; ' +lon_converted.min +"' " +lon_converted.sec +'" ' +lon_converted.dir); 
    d3.select('#coord_lat').html(lat_converted.deg +'&deg; ' +lat_converted.min +"' " +lat_converted.sec +'" ' +lat_converted.dir); 

    mapboxgl.accessToken = 'pk.eyJ1IjoieHh6dngiLCJhIjoiVGZyNjdqUSJ9.o9lzL_jn5fXdOhiP5HnokA';
    var map = new mapboxgl.Map({
        container: 'map_container', // container id
        style: 'mapbox://styles/xxzvx/cjclh9g1a0fms2roa0001795a', // stylesheet location
        center: ["{{ lon }}", "{{ lat }}"], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });

    // disable map zoom when using scroll
    map.scrollZoom.disable();
</script>