<div class='panel_item _{{ counter }}'  onclick="location.href='{{ post.url }}';" style='cursor:cell;'>
	<div class='panel_item_image' style='background-image:url(/photos/{{ post.post_path }}/01.jpg);'></div>
	<div class='panel_item_detail'>
		{% assign page = post %}
	  {% include log_generator_tags.html %}
		<div class='panel_item_label'>{{ post.title }}</div>
		<div id='swatch_lat_lon'>
	    {% assign lat = page.lat %}
	    {% assign lon = page.lon %}
	    {% include calc_coordinates.html %}
	  </div>
		<!-- <div class='panel_item_date'>{{ post.date }}</div> -->
	</div>
</div>
