<div id='nav_log'>
	<div id='section_title'><a href='/log'>fl&acirc;neuserie</a></div>
	<div class='btn' id='about'><a href='/log/about'>About</a></div>
	<div class='btn' id='archive'>
		<a href='/log/archive'>Archive</a>
		<div class='btn_menu'>
			<ul>
				<a href='/log/archive/2017'><li>2017</li></a>
				<a href='/log/archive/2016'><li>2016</li></a>
			</ul>
		</div>
	</div>
	<div class='btn' id='filter'>
		<a href='/'>Places</a>
		<div class='btn_menu'>
			<ul>
				<a href='/log/hotels'><li>Hotels</li></a>
			</ul>
		</div>
	</div>
</div>