<div id='nav_log'>
	<div id='section_title'><a href='/log'>Home</a></div>
	<div id='imprint'></div>
	<div class='btn' id='about'><a href='/log/about'>About</a></div>
	<div class='btn' id='archive'>
		<a href='/log/archive'>Archive</a>
		<div class='btn_menu'>
			<ul>
				<a href='/log/archive/2018'><li>2018</li></a>
				<a href='/log/archive/2017'><li>2017</li></a>
				<a href='/log/archive/2016'><li>2016</li></a>
				<a href='/log/archive/2015'><li>2015</li></a>
			</ul>
		</div>
	</div>
	<div class='btn' id='filter'>
		<a href=''>Regions</a>
		<div class='btn_menu'>
			<ul>
				<a href='/log/archive/united-states'><li>United States</li></a>
				<a href='/log/archive/caribbean'><li>Caribbean</li></a>
				<a href='/log/archive/europe'><li>Europe</li></a>
				<a href='/log/archive/middle-east'><li>Middle East</li></a>
			</ul>
		</div>
	</div>
	<div class='btn' id='filter'>
		<a href=''>Places</a>
		<div class='btn_menu'>
			<ul>
				<a href='/log/hotels'><li>Hotels</li></a>
				<a href='/log/hikes'><li>Hikes</li></a>
			</ul>
		</div>
	</div>
	<div class='btn' id='filter'>
		<a href=''>Culture</a>
		<div class='btn_menu'>
			<ul>
				<a href='/log/art'><li>Art</li></a>
				<a href='/log/fashion'><li>Fashion</li></a>
			</ul>
		</div>
	</div>
</div>