{% include header.html %}
<div class='generic-content-wrapper'>
	<div class='content_top'>{{ content }}</div>
	<div class='content_bot'>
		{% for d in site.data.about %}
			{% if d.show != false %}
			<div id='{{ d.id }}' class='section cols_{{ d.cols }}'>
				<div class='label'>{{ d.title }}</div>
					<ul>
						{% for item in d.list %}
							<li>
								<div class='col_left'>
									{% if item.link %}
										<span><a href='{{ item.link }}' target='_blank'>{{ item.name }}</a></span>
									{% else %}
										<span>{{ item.name }}</span>
									{% endif %}
								</div>
								{% if item.date %}
									<div class='col_right'>{{ item.date }}</span></div>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% include footer.html %}