{% include header.html %}
<div id='gallery'>
  {% for post in site.categories.portfolio %}
		{% capture date %}{{ post.date | date: "%m %Y" }}{% endcapture %}
		{% capture w %}{{ post.cover_w | w: "" }}{% endcapture %}
		<a href='/{{ post.category }}/{{ post.post_path }}.html' class='list-img-link' style='max-width: {{ w }}px'> 
			<img class='list-img' src='/media/{{ post.post_id }}/{{ post.cover }}'>
			<div class='metadata'>
				<p class='list-title'><span>{{ post.title }}</span></p>
			</div>
		</a>
	{% endfor %}
</div>
{% include footer.html %}