{% include header.html %}
<div id='gallery'>
  {% for post in site.categories.portfolio %}
		{% capture date %}{{ post.date | date: "%m %Y" }}{% endcapture %}
		{% capture xt %}{% if post.cover_xt %}{{ post.cover_xt }}{% else %}jpg{% endif %}{% endcapture %}
		<div class='list-img-container'>
			<a href='/{{ post.category }}/{{ post.post_path }}.html' class='list-img-link'> 
				<img class='list-img' src='/media/covers/{{ post.post_id }}.{{ xt }}'>
				<div class='metadata'>
					<p class='list-title'><span>{{ post.title }}</span></p>
				</div>
			</a>
		</div>
	{% endfor %}
</div>
{% include footer.html %}