{% include header.html %}
<div id='gallery'>
  {% for post in site.categories.portfolio %}
		{% capture date %}{{ post.date | date: "%m %Y" }}{% endcapture %}
		{% capture xt %}{% if post.cover_xt %}{{ post.cover_xt }}{% else %}jpg{% endif %}{% endcapture %}
		{% capture pos %}{% if post.cover_pos %}{{ post.cover_pos }}{% else %}center{% endif %}{% endcapture %}
		<div class='list-img-container'>
			<a href='/{{ post.category }}/{{ post.post_path }}.html' class='list-img-link'> 
				<img class='list-img blur-load' 
					 src='/media/covers/blurred/{{ post.post_id }}.{{ xt }}' 
					 data-large='/media/covers/{{ post.post_id }}.{{ xt }}'
					 style='object-position:{{ pos }}' 
					 alt='{{ post.tagline }}'
					 {% if forloop.index <= 3 %}loading='eager'{% else %}loading='lazy'{% endif %}
					 decoding='async'>
				<div class='metadata'>
					<p class='list-title'><span>{{ post.title }}</span></p>
				</div>
			</a>
		</div>
	{% endfor %}
</div>
{% include footer.html %}