{% include header.html %}
<div class='post_body'>
  <div class='page_label'>{{ page.title }}</div>
  <div id='post_body_photos'>
    {% for photo in page.photos %}
    	<div class='photo_frame {{ photo.class }}'>
        <img class='album_page_image' src='/photos/{{ page.post_path }}/{{ photo.ext }}'/>
        {% if photo.text %}
          <div class='photo_caption'>{{ photo.text }}</div>
        {% endif %}
    	</div>
    {% endfor %}
  </div>
  <div id='post_body_text'>
    <div class='text_block'>{{ content }}</div>
  </div>
  <span class='page_date'>{{ page.date_start }}{% if page.date_end %}{% if page.date_end != page.date_start %}&nbsp;&ndash;&nbsp;{{ page.date_end }}{% endif %}{% endif %}</span>
  <span class='page_lat_lon'>
    {% assign lat = page.lat %}
    {% assign lon = page.lon %}
    {% include calc_coordinates.html %}
  </span>
  <div class='album_page_tags'>
    <span class='i'>Tagged:&nbsp;</span>
    {% include log_generator_tags.html %}
  </div>
</div>
{% include footer.html %}