{% include header.html %}

<!-- Feature image -->
{% for post in site.log reversed %}
	{% if forloop.first %}
		<div class='feature'>
			<div class='divider'></div>
			<a href='{{ post.url }}'>
				<div id='feature_image' style='background-image:url(/photos/{{ post.post_path }}/01.jpg);'>
					<div id='feature_title'>{{ post.title }}</div>
					<div id='feature_date'>{{ post.date_start }}{% if post.date_end %}{% if post.date_end != post.date_start %}&nbsp;&ndash;&nbsp;{{ post.date_end }}{% endif %}{% endif %}</div> 
				</div>
			</a>
		</div>
		{% break %}
	{% endif %}
{% endfor %}

<!-- Latest entries -->
{% assign tag_string = "Recent entries" %}
{% include generator_panel.html %}

<!-- NYC panel -->
{% assign tag_string = "NYC" %}
{% assign parameter = "cities" %}
{% include generator_panel.html %}

<!-- Continent panels -->
{% for region in site.data.log.regions %}
	{% if region.display == true %}
		{% assign tag_string = region.name %}
		{% assign parameter = "regions" %}
		{% include generator_panel.html %}
	{% endif %}
{% endfor %}

{% include footer.html %}