{% include header.html %}
<div class='panel archive'>
{% if page.continent %}
	{% assign continent = page.continent %}
	<div class='panel_label'><span class='i'>Posts tagged:</span> {{ continent }}</div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% for item in post.metadata %}
			{% if item.continents contains continent %}
				{% include post_gallery_swatch.html %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	</div>
{% else %}
	<div class='panel_label'><span class='i'>All posts</div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% include post_gallery_swatch.html %}
	{% endfor %}
	</div>
{% endif %}
</div>
{% include footer.html %}