{% include header.html %}
<div id='proj-list'>
	{% for post in site.posts %}
	<!--{% if post.cat == 'projects' %}-->
	{% assign end = '.html' %}
	<!--{% else %}
		{% assign end = '' %}
	{% endif %}-->
	<!--{% if post.cat == 'idx' %}
		{% capture date %}{{ post.date | date: "00 0000" }}{% endcapture %}
	{% else %}-->
	{% capture date %}{{ post.date | date: "%m %Y" }}{% endcapture %}
	<!--{% endif %}-->
	{% if post.nonvis == true %}
		{% assign marker = '&dagger;&nbsp;' %}
	{% else %}
		{% assign marker = '' %}
	{% endif %}
	<a href='/{{ post.category }}/{{ post.path }}{{ end }}' class='{% cycle 'left', 'center', 'right' %} list-img-link'>
		<img class='list-img' src='/media/thumbs/{{ post.id }}_thumb.jpg'>
		<div class='metadata'>
			<p class='list-title'>{{ marker }}{{ post.title }}</p>
			<p class='list-date'>{{ date }}</p>
		</div>
	</a>
	{% endfor %}
</div>
{% include footer.html %}