{% include header.html %}
<div id='contain'>
	<div id='content_top'>
	{{ content }}
	</div>
	<div id='content_mid'>
	{% for d in site.data.about %}
	{% if d.show != false %}
	{% capture i %}{% cycle 'left', 'right' %}{% endcapture %}
	{% if i == 'left' %}
	<div class='clear'></div>
	{% endif %}
	<div id='{{ d.id }}' class='section half {{ i }}'>
		<div class='label'>{{ d.title }}</div>
		{% if d.fancy == true %}
		<ul class='fancy'>
			{% for item in d.list %}
			<li>
			<div class='t_container'>
			<span class='t_info collapse'>
			{% if item.link %}
			<a href='{{ item.link }}' target='_blank'>{{ item.name }}</a>
			{% else %}
			{{ item.name }}
			{% endif %}
			</span>
			{% if item.t_right %}
			<span class='t_right'>{{ item.t_right }}</span>
			{% endif %}
			</div>
			{% if item.t_below %}
			<span class='t_below collapse'>{{ item.t_below }}</span>
			{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<ul>
			{% for item in d.list %}
			<li>
			<span class='t_info'>
			{% if item.link %}
			<a href='{{ item.link }}' target='_blank'>{{ item.name }}</a>
			{% else %}
			{{ item.name }}
			{% endif %}
			</span>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	{% endif %}
	{% endfor %}
	</div>
</div>
{% include footer.html %}