{% include header.html %}
<div id='proj-list'>
	{% for post in site.posts %}
	{% assign end = '.html' %}
	{% capture date %}{{ post.date | date: "%m %Y" }}{% endcapture %}
	{% if post.nonvis == true %}
		{% assign marker = '&dagger;&nbsp;' %}
	{% else %}
		{% assign marker = '' %}
	{% endif %}
	<a href='/{{ post.category }}/{{ post.post_path }}{{ end }}' class='{% cycle '_01', '_02', '_03', '_04' %} {% cycle 'col_odd_01', 'col_odd_02', 'col_odd_03' %} list-img-link'>
		<img class='list-img' src='/media/thumbs/{{ post.post_id }}_thumb.jpg'>
		<div class='metadata'>
			<p class='list-title'>{{ marker }}{{ post.title }}</p>
			<p class='list-date'>{{ date }}</p>
		</div>
	</a>
	{% endfor %}
</div>
{% include footer.html %}