{% include header_page.html %}
<div id='contain'>
	<div id='top_content'>
		{{ content }}
		<br><br><br><p class='arr'>\</p><br><br>
	</div>
	<div id='cols'>
		<div class='left'>
			{% for d in site.data.about %}
			{% if d.show == true %}
			<div class='section {{ d.id }}'>
				<ul class='items'>
					<li class='item title'>{{ d.title }}</li>
					{% if d.simple == true %}
						{% for item in d.list %}
						{% if item.link %}
						<li class='item simple link'><a href='{{ item.link }}'>{{ item.name }}</a></li>
						{% else %}
						<li class='item simple'>{{ item.name }}</li>
						{% endif %}
						{% endfor %}
					{% else %}
						{% for item in d.list %}
						{% capture current %}{{ 'now_' | append: item.now }}{% endcapture %}
						{% assign now = current %}
						{% assign spc = '&emsp;&emsp;&emsp;&emsp;' %}
						<li class='item unsimple _{{ forloop.index }}'>
							{{ item.name }}
							<div class='holder'>
							{% if item.start %}
							<span class='time'>{{ item.start }}&nbsp;&ndash;&nbsp;<span class={{ now }}>{{ item.end }}</span></span>
							<span class='spec'>{{ spc }}{{ item.spec }}</span>
							{% elsif item.end %}
							<span class='time'>{{ item.end }}</span>
							<span class='spec'>{{ spc }}{{ item.spec }}</span>
							{% else %}
							<span class='spec'>{{ item.spec }}</span>
							{% endif %}
							</div>
						</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class='dekor about'></div>
</div><!-- contain -->
{% include footer.html %}