{% include header.html %}
<div class='panel archive'>
{% if page.region %}
	{% assign tag_string = page.region %}
	<div class='page_label'><span class='i'>Tagged:</span>&nbsp;<span class='tag_string'>{{ tag_string }}</span></div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% for item in post.metadata %}
			{% if item.regions contains tag_string %}
				{% include post_log_swatch.html %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	</div>
{% elsif page.continent %}
	{% assign tag_string = page.continent %}
	<div class='page_label'><span class='i'>Tagged:</span>&nbsp;<span class='tag_string'>{{ tag_string }}</span></div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% for item in post.metadata %}
			{% if item.continents contains tag_string %}
				{% include post_log_swatch.html %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	</div>
{% elsif page.city %}
	{% assign tag_string = page.city %}
	<div class='page_label'><span class='i'>Tagged:</span>&nbsp;<span class='tag_string'>{{ tag_string }}</span></div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% for item in post.metadata %}
			{% if item.cities contains tag_string %}
				{% include post_log_swatch.html %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	</div>
{% elsif page.year %}
	{% assign tag_string = page.year %}
	<div class='page_label'><span class='i'>Tagged:</span>&nbsp;<span class='tag_string'>{{ tag_string }}</span></div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% if post.metadata[0]["year"] == tag_string %}
			{% include post_log_swatch.html %}
		{% endif %}
	{% endfor %}
	</div>
{% elsif page.type %}
	{% assign tag_string = page.type %}
	<div class='page_label'><span class='i'>Tagged:</span>&nbsp;<span class='tag_string'>{{ tag_string }}</span></div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% if post.metadata[1]["type"] == tag_string %}
			{% include post_log_swatch.html %}
		{% endif %}
	{% endfor %}
	</div>
{% elsif page.arts %}
	{% assign tag_string = page.arts %}
	<div class='page_label'><span class='i'>Tagged:</span>&nbsp;<span class='tag_string'>{{ tag_string }}</span></div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% if post.metadata[1]["arts"] == tag_string %}
			{% include post_log_swatch.html %}
		{% endif %}
	{% endfor %}
	</div>
{% else %}
	<div class='page_label'>All Entries</div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% include post_log_swatch.html %}
	{% endfor %}
	</div>
{% endif %}
</div>
{% include footer.html %}