{% include header.html %}
<div class='panel archive'>
{% if page.continent %}
	{% assign tag_string = page.continent %}
	<div class='panel_label'><span class='i'>Posts tagged:</span> {{ tag_string }}</div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% for item in post.metadata %}
			{% if item.continents contains tag_string %}
				{% include post_log_swatch.html %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	</div>
{% elsif page.city %}
	{% assign tag_string = page.city %}
	<div class='panel_label'><span class='i'>Posts tagged:</span> {{ tag_string }}</div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% for item in post.metadata %}
			{% if item.cities contains tag_string %}
				{% include post_log_swatch.html %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	</div>
{% elsif page.year %}
	{% assign tag_string = page.year %}
	<div class='panel_label'><span class='i'>Posts tagged:</span> {{ tag_string }}</div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% if post.metadata[0]["year"] == tag_string %}
			{% include post_log_swatch.html %}
		{% endif %}
	{% endfor %}
	</div>
{% else %}
	<div class='panel_label'><span class='i'>All posts</div>
	<div class='panel_images'>
	{% for post in site.log reversed %}
		{% include post_log_swatch.html %}
	{% endfor %}
	</div>
{% endif %}
</div>
{% include footer.html %}