{% include header.html %}
<div id='albums' class='grid'>
	{% for post in site.log reversed %}
	<a href='{{ post.url }}'>
		<div class='album_cover grid-item'>
			<img src='../photos/{{ post.post_path }}/01.jpg'/>
			<div class='album_title'>{{ post.title }}</div>
  		<div class='album_date'>{{ post.date_start }}{% if post.date_end %}&nbsp;&ndash;&nbsp;{{ post.date_end }}{% endif %}</div>
		</div>
	</a>
	{% endfor %}
</div>

<!-- NYC panel -->
{% assign tag_string = "NYC" %}
{% assign parameter = "cities" %}
{% include generator_panel.html %}

<!-- Continent panels -->
{% for region in site.data.log.regions %}
	{% if region.display == true %}
		{% assign tag_string = region.name %}
		{% assign parameter = "regions" %}
		{% include generator_panel.html %}
	{% endif %}
{% endfor %}
{% include footer.html %}