{% include header.html %}
<div id='albums' class='grid'>
	{% for post in site.log reversed %}
	<a href='{{ post.url }}'>
		<div class='album_cover grid-item'>
			<img src='../photos/{{ post.post_path }}/01.jpg'/>
			<div class='album_title'>{{ post.title }}</div>
  		<div class='album_date'>{{ post.date_start }}&nbsp;&ndash;&nbsp;{{ post.date_end }}</div>
		</div>
	</a>
	{% endfor %}
</div>
{% for continent in site.data.log.continents %}
	{% assign maxPosts = 5 %}
	{% assign counter = 0 %}
	<div class='panel'>
		<div class='panel_label'>{{ continent }}</div>
		<div class='panel_images'>
		{% for post in site.log reversed %}
			{% for item in post.metadata %}
				{% if item.continents contains continent and counter < maxPosts %}
					{% assign counter=counter | plus:1 %}
					<a href='{{ post.url }}'>
						<div class='panel_item' style='background-image:url(/photos/{{ post.post_path }}/01.jpg/);'>
							<div class='panel_item_detail'>
								<div class='panel_item_label'>{{ post.title }}</div>
								<div class='panel_item_date'>{{ post.date_start }}&nbsp;&ndash;&nbsp;{{ post.date_end }}</div>
							</div>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</div>
	</div>
{% endfor %}
<script src='/js/gallery.js'></script>
{% include footer.html %}