{% include header.html %}
<div id='contain' class='idx'>
<div class='descrip'>{{ content }}</div>
{% for c in site.data.subs[page.index_ID].cats %}
	<div id='{{ c }}' class='idx-block'>
	<div class='label'>{{ c | capitalize }}</div>
	<ul>
	{% assign item_array = site.data.subs[page.index_ID].items | where: "cat", c %}
	{% for i in item_array reversed %}
	<li>
		{% if i.cli_sub %}
		{% capture client %}{{ i.client }}&comma;&nbsp;{{i.cli_sub}}{% endcapture %}
		{% else %}
		{% capture client %}{{ i.client }}{% endcapture %}
		{% endif %}
		<div class='info'>
			<div class='client'>{{ client }}&mdash;</div><a href='{{ i.path }}' target='_blank'>{{ i.name }}</a>
		</div>
		<div class='date'>{{ i.date }}</div>
	</li>
	{% endfor %}
	</ul>
	</div>
{% endfor %}
</div>
{% include footer.html %}