{% include header.html %}
<div id='proj'>
    <div id='media'>
        {% for p in page.images %}
        {% if p.half == true %}
            {% assign class_size = 'half' %}
            {% assign class_side = p.side %}
        {% else %}
            {% assign class_size = 'full' %}
            {% assign class_side = '' %}
        {% endif %}
        <div class='{{ class_size }} {{ class_side }} media'>
            <img class='post-img' src='/media/{{ page.id }}/{{ p.ext }}' width='{{ p.width }}' height= '{{ p.height }}' />
            <p class='caption'>{{ p.cap }}</p>
        </div>
        {% endfor %}
    </div>
    <div id='descrip'>
        <p>
            {{ content }}
        </p>
    </div>
    <!--<div class='holder'>
    {% for p in page.images %}
        <img class='{{ p.class }}' src='/images/{{ p.src }}' width='{{ p.width }}' height= '{{ p.height }}' />
    {% endfor %}
    {% for c in page.cols %}
        <div class='col' style='width:{{ c.images[0].width }}px;height:{{ c.height }}px'>
        {% for p in c.images %}
            <img class='{{ p.class }}' src='/images/{{ p.src }}' width='{{ p.width }}' height= '{{ p.height }}' />
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    {% for p in page.images %}
        {% if p.cap %}
            <div class='post-img-cap'>{{ forloop.index }}.&nbsp;{{ p.cap }}</div>
        {% endif %}
    {% endfor %}
    {% for c in page.cols %}
        {% if forloop.last %}
            {% assign buffer = page.cols[0].images.size %}
        {% else %}
            {% assign buffer = 0 %}
        {% endif %}
        {% for p in c.images %}
            {% if p.cap %}
                <div class='post-img-cap {{ p.class }}'>{{ buffer | plus: forloop.index }}.&nbsp;{{ p.cap }}</div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <div id="clearup"></div>
    <div class='descrip'>
        <h4>
        {{ content }}
        {% if page.cred %}
            {% for c in page.cred %}
                &rarr;&nbsp;<a href='{{ c.link }}' class='cred'>{{ c.name }}</a><br>
            {% endfor %}
        {% endif %}
        </h4>
    </div>-->
</div>
{% include footer.html %}