{% include header.html %}
  <div class='album_page_title'>{{ page.title }}</div>
  <div class='album_page_date'>{{ page.date_start }}{% if page.date_end %}&nbsp;&ndash;&nbsp;{{ page.date_end }}{% endif %}</div>
  {% for photo in page.photos %}
  	<div class='photo_frame {{ photo.class }}'>
      <img class='album_page_image' src='/photos/{{ page.post_path }}/{{ photo.ext }}'/>
      {% if photo.text %}
      <div class='photo_caption'>{{ photo.text }}</div>
      {% endif %}
  	</div>
  {% endfor %}
  <!-- {% if page.metadata %}
  <div class='album_page_metadata'>
	  {% for d in page.metadata %}
	  <div class='list_section'>
		  <div class='list_section_title'>{{ d.title }}</div>
		  <ul class='list_items'>
		  	{% for _d in d.list %}
		  	<li>&mdash;&mdash;&nbsp;{{ _d }}</li>
		  	{% endfor %}
		  </ul>
		</div>
		{% endfor %}
	</div>
  {% endif %} -->
{% include footer.html %}