{% include header.html %}
  <div class='album_page_title'>{{ page.title }}</div>
  <div class='album_page_date'>{{ page.date_start }}{% if page.date_end %}&nbsp;&ndash;&nbsp;{{ page.date_end }}{% endif %}</div>
  {% for photo in page.photos %}
  	<div class='photo_frame {{ photo.class }}'>
      <img class='album_page_image' src='/photos/{{ page.post_path }}/{{ photo.ext }}'/>
      {% if photo.text %}
      <div class='photo_caption'>{{ photo.text }}</div>
      {% endif %}
  	</div>
  {% endfor %}
  <div class='album_page_tags'>
    <span class='i'>Tagged:</span>
    {% for data_object in page.metadata %}
      {% for city in data_object.cities %}
        {% if city == "NYC" %}
          {% capture archive_link %}{{ city | downcase | replace: ' ', '-' }}{% endcapture %}
          <span class='album_page_tag'><a href='/log/archive/{{ archive_link }}'>{{ city }}</a></span>
        {% endif %}
      {% endfor %}
      {% for region in data_object.regions %}
        {% capture archive_link %}{{ region | downcase | replace: ' ', '-' }}{% endcapture %}
        <span class='album_page_tag'><a href='/log/archive/{{ archive_link }}'>{{ region }}</a></span>
      {% endfor %}
    {% endfor %}
    {% if page.metadata[1].type != null %}
      {% assign type = page.metadata[1].type %}
      <span class='album_page_tag'>
        <a href='/log/{{ type }}s'>{{ type }}</a>
      </span>
    {% endif %}
    <span class='album_page_tag'>
      {% assign year = page.metadata[0].year %}
      <a href='/log/archive/{{ year }}' class='{% if year < 2016 %}ignore{% endif %}'>{{ year }}</a>
    </span>
  </div>
{% include footer.html %}