{% include header.html %}
<div id='proj'>
    <!-- check here for page.perm to get interactive permalink /interactive/page.id/ -->
    <!-- check for paper "/papers/[ID]" -->
    <div id='info'>
        <div class='title'>{{ page.title }}</div>
    </div>
    <div id='media'>
        {% for p in page.images %}
        {% if p.half == true %}
            {% assign class_size = 'half' %}
            {% assign class_side = p.side %}
        {% else %}
            {% assign class_size = 'full' %}
            {% assign class_side = '' %}
        {% endif %}
        <div class='{{ class_size }} {{ class_side }} media'>
            <img class='post-img' src='/media/{{ page.id }}/{{ p.ext }}' width='{{ p.width }}' height= '{{ p.height }}' />
            <p class='caption'>{{ p.cap }}</p>
        </div>
        {% endfor %}
    </div>
    <div id='descrip'>
        <p>
            {{ content }}
        </p>
    </div>
    <div class='sub'>
        {% if page.perm %}
        <div id='post-permalink' class='sub-section'>
            <div class='label'></div>
            <div class='link'><a href='{{ page.perm }}' target='_blank'>Permalink</a></div>
        </div>
        {% endif %}
        {% if page.github %}
        <div id='post-github' class='sub-section'>
            <div class='label'></div>
            <div class='link'><a href='https://github.com/emilyfuhrman/{{ page.id }}' target='_blank'>GitHub</a></div>
        </div>
        {% endif %}
        {% if page.paper %}
        <div id='post-paper' class='sub-section'>
            <div class='label'></div>
            <div class='link'><a href='/papers/{{ page.id }}.pdf' target='_blank'>Paper</a></div>
        </div>
        {% endif %}
        {% if page.team %}
        <div id='post-team' class='sub-section'>
            <div class='label'></div>
            <div class='info'>
            <span>Team:&nbsp;</span>
            {% for t in page.team %}
            {% if forloop.last %}
            <span>{{ t }}</span>
            {% else %}
            <span>{{ t }}&#44;&nbsp;</span>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        <div id='post-tags' class='sub-section'>
            <div class='label'></div>
            {% for t in page.tags %}
            <div class='tag'><span>{{ t }}</span></div>
            {% endfor %}
        </div>
    </div>
    <div id='post-nav'>
        <div id='previous' class='arrow'>
            {% if page.previous.id %}
            <a href='{{ page.previous.url }}'>&larr;&nbsp;Previous</a>
            {% endif %}
        </div>
        <div id='next' class='arrow'>
            {% if page.next.id %}
            <a href='{{ page.next.url }}'>Next&nbsp;&rarr;</a>
            {% endif %}
        </div>
    </div>
</div>
{% include footer.html %}