{% include header.html %}
<div id='proj' class='content-wrapper full-width-content-wrapper'>
    <div id='info'>
        <div class='title'>{{ page.title }}</div>
    </div>
    <div id='media'>
        {% for p in page.images %}
            {% if p.half == true %}
                {% assign class_size = 'half' %}
            {% else %}
                {% assign class_size = 'full' %}
            {% endif %}
            <div class='{{ class_size }} media'>
                {% if page.perm %}
                <a href='{{ page.perm }}' target='_blank'>
                <img class='post-img' src='/media/{{ page.post_id }}/{{ p.ext }}' />
                </a>
                {% else %}
                <img class='post-img' src='/media/{{ page.post_id }}/{{ p.ext }}' />
                {% endif %}
                <p class='caption'>{{ p.cap }}</p>
            </div>
        {% endfor %}
    </div>
    {% if page.translations %}
        <div class='controls'>
            <div id='en' class='lang-switcher active'>English</div>
            {% for t in page.translations %}
                <div id={{ t.lang }} class='lang-switcher'>{{ t.label }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% if page.epigraph %}
        {% for e in page.epigraph %}
            <div class='epigraph'>
                <p>{{ e.text }}</p>
                <p>&mdash;{{ e.source }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class='description' lang='en'>
        <p>{{ content }}</p>
    </div>
    {% if page.translations %}
        {% for t in page.translations %}
            <div class='description' lang={{ t.lang }}>
                <p><p>{{ t.text }}</p></p>
            </div>
        {% endfor %}
    {% endif %}
    {% include post_meta.html %}
    {% include post_nav.html %}
</div>
{% include footer.html %}