{% include header.html %}
  <div class='album_page_title'>{{ page.title }}</div>
  <div class='album_page_date'>{{ page.date_start }}{% if page.date_end %}&nbsp;&ndash;&nbsp;{{ page.date_end }}{% endif %}</div>
  {% for photo in page.photos %}
  	<div class='photo_frame {{ photo.class }}'>
      <img class='album_page_image' src='/photos/{{ page.post_path }}/{{ photo.ext }}'/>
      {% if photo.text %}
      <div class='photo_caption'>{{ photo.text }}</div>
      {% endif %}
  	</div>
  {% endfor %}
  <div class='album_page_tags'>
    <span class='i'>Tagged:</span>
    {% for data_object in page.metadata %}
      {% for continent in data_object.continents %}
        {% capture archive_link %}{{ continent | downcase | replace: ' ', '-' }}{% endcapture %}
        <span class='album_page_tag'><a href='/log/archive/{{ archive_link }}'>{{ continent }}</a></span>
      {% endfor %}
    {% endfor %}
  </div>
{% include footer.html %}