{% include header.html %}
{% include data_posts.html %}
{% include data_tag-dictionary.html %}
<div id='projects' class='content-wrapper full-width-content-wrapper'>
	<div id='projects-page-content' class='masthead'>
		<div>{{ content }}</div>
		<div id='project-tags' class='tags' ></div>
	</div>
	<div class='generic-list'>
		<ul id='project-headers'>
			<li class='header'>
				<div class='col_left sorter' id='col_title'></div>
				<div class='col_right'>
					<div class='sorter' id='col_year'></div>
					<div class='sorter' id='col_tag'></div>
				</div>
			</li>
		</ul>
		<ul id='project-list'></ul>
	</div>
	<script type='text/javascript' src='/js/projects.js'></script>
</div>
{% include footer.html %}