{% include header.html %}
<div class='generic-content-wrapper'>
	<div id='content_top'>{{ content }}</div>
	<div id='content_bot'>
		<div class='section'>
			<div class='label' id='dh'>Digital Humanities</div>
			{% for post in site.posts %}
				{% if post.external == true %}
					{% capture url %}{{ post.perm }}{% endcapture %}
				{% else %}
					{% capture url %}/{{ post.category }}/{{ post.post_path }}.html?source=list{% endcapture %}
				{% endif %}
				{% if post.tags contains 'dh' %}
				{% capture date %}{{ post.date | date: "%Y" }}{% endcapture %}
				<ul class='project-list'>
					<li class='project-row'>
						<a href='{{ url }}' class='project-link' target='_blank'>
							<span id='project-title'>{{ post.title }}</span>{% if post.external == true %}<span class='ext-arrow'>&nbsp;&#x2197;</span>{% endif %}
							<span id='project-date'>{{ date }}</span>
						</a>
						{% if post.tagline %}
							<p id='project-tagline'>{{ post.tagline }}</p>
						{% endif %}
					</li>
				</ul>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% include footer.html %}